<nav class="navbar sticky-top navbar-dark" style="background-color:rgb(82, 82, 82);">
                <a class="navbar-brand" href="/">PREZ Client Manager</a>
                <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/allClients">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/newClient">New Client</a>
  </li>
</ul>
         </nav>

         <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">ZipCode</th>
      <th scope="col">State</th>

    </tr>
  </thead>
  <tbody>

       {{#each Clients}}
    <tr>
      <td name="LastName">{{this.LastName}}</td>
      <td name="FirstName">{{this.FirstName}}</td>
      <td name="PhoneNumber">{{this.PhoneNumber}}</td>
      <td name="Email">{{this.Email}}</td>
      <td name="Address">{{this.Address}}</td>
      <td name="ZipCode">{{this.ZipCode}}</td>
      <td name="State">{{this.State}}</td>
      {{/each}}

    </tr>
    
  </tbody>
</table>
</div>

<br>